<link href="/css/fields.css" rel="stylesheet">

<h1 class="display-3">create poll</h1>

{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}



<form method="post" action="/users/save">
   <div class="form-group">
    <label>Poll Question</label>
    <input type="text" class="form-control" placeholder="Poll Question" name="question">
  </div>
  <div class="form-group container1">
    <input type="text" class="form-control" placeholder="Option" name="option1">
  </div>
  <div class="form-group container2">
    <input type="text" class="form-control" placeholder="Option" name="option2">
  </div>

  <button type="submit" class="btn btn-default">Submit</button><button class="add_form_field btn btn-default ">Add Field<span style="font-size:16px; font-weight:bold;"></span></button>



</form>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
$(document).ready(function() {
    var max_fields      = 5;
    var wrapper         = $(".container2");
    var add_button      = $(".add_form_field");

    var x = 2;
    $(add_button).click(function(e){
        e.preventDefault();
        if(x < max_fields){
            x++;
            $(wrapper).append('<div class="form-group container2"><div class="delete"><a href="#"><i class="fa fa-minus-square" aria-hidden="true"></i></a></div><input type="text" class="form-control" placeholder="Option" name="option'+x+'"></div>'); //add input box
        }

    });

    $(wrapper).on("click",".delete", function(e){
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>
