<div class="indexContainer">
<div class="row">
  <div class="col-md-4">
    <h2>Online Polling</h2>
    <div class=indexIcons1>
        <i class="fa fa-list-ol" aria-hidden="true" style="font-size:1000%; color:#1DA1F2;"></i>
    </div>
  </div>
  <div class="col-md-4">
    <h2>Live Results</h2>
        <div class=indexIcons>
    <i class="fa fa-line-chart" aria-hidden="true" style="font-size:1050%; color:#1DA1F2;"></i>
  </div>
  </div>
  <div class="col-md-4">
    <h2>Social Integration</h2>
      <div class="indexIcons">
      <i class="fa fa-twitter" style="font-size:1150%; color:#1DA1F2;"></i>
    </div>
  </div>
</div>
</div>
